.it-services {
  position: relative;
  .hero-screen {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+98&0+62,1+100 */
    //background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0) 62%, rgba(255,255,255,0.95) 98%, rgba(255,255,255,1) 100%), url("../img/bg.png") no-repeat; /* FF3.6-15 */
    //background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 62%,rgba(255,255,255,0.95) 98%,rgba(255,255,255,1) 100%), url("../img/bg.png") no-repeat; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 62%,rgba(255,255,255,0.95) 98%,rgba(255,255,255,1) 100%), url("../img/bg.png") no-repeat; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    background-size: cover;
    margin-bottom: 93px;
    .hero-screen-label {
      margin-top: 109px;
      img {
        margin-bottom: 23px;
      }
    }
    .hero-screen-provide {
      padding: 37px 74px;
      margin-right: 46px;
      margin-left: 46px;
      @include font($montserrat,$medium,$text,$text-lh,$black);
      background: rgba(245, 245, 245, 0.5);
      border-radius: 50px;
    }
    .wrapper {
      header {
        display: flex;
        justify-content: space-between;
        .logo {
          img {
            @media screen and (max-width: 1199px) {
              width: 230px;
            }
          }
        }
        .nav {
          &-group-list {
            display: flex;
            background-color: rgba(245, 245, 245, 0.5);
            border-radius: 50px;
            padding: 9px 11px;
            @media screen and (max-width: 1199px) {
              padding: 4px 5px;
            }
          }
          &-item {
            @include font($montserrat,$semibold, $nav, $nav-lh, $primary);
            opacity: 0.1;
            padding: 18px 55px;
            border-radius: 50px;
            text-transform: uppercase;
            @media screen and (max-width: 1199px) {
              font-size: 12px;
              line-height: 14.63px;
              padding: 8px 21px;
            }
          }
          .active {
            color: $white;
            opacity: 1;
            background-color: $primary;
          }
        }
        .lang {
          &-group-list {
            padding: 16px 15px;
            border-radius: 50px;
            background-color: rgba(245, 245, 245, 0.5);
            @media screen and (max-width: 1199px) {
              padding: 6px;
            }
          }
          &-item {
            img {
              display: block;
              @media screen and (max-width: 1199px) {
                width: 25px;
              }
            }
          }
          &-item:last-child {
            display: none;
          }
          .show {
            transition: 0.3s ease-in;
            margin-top: 30px;
            display: list-item !important;
          }
        }
      }
      .hero-screen-content {
        .hero-screen-title {
          @include font($orbitron,$bold,$h1,$h1-lh,$white);
          margin-bottom: 23px;
        }
        .hero-screen-description {
          max-width: 803px;
          @include font($montserrat,$medium,$text,$text-lh,$white);
          margin-bottom: 78px;
        }
      }
    }
  }
  main {
    .position-relative {
      position: relative;
    }
    .wrapper {
      .bg {
        .leaves {
          top: -93px;
          right: 0;
          background: url("../img/leaves.png") no-repeat;
          position: absolute;
          width: 460px;
          height: 437px;
          @media screen and (max-width: 1399px) {
            top: -130px;
          }
        }
        .radial-circle {
          position: absolute;
          right: 0;
          width: 613px;
          height: 613px;
          background: rgba(235, 92, 40, 0.3);
          filter: blur(500px);
        }
      }
      .services-offerings {
        margin-bottom: 102px;
      }
      .reference-projects {
        margin-bottom: 93px;
      }
      .github {
        margin-bottom: 156px;
      }
      .company-information {
        .info-group-list {
          margin-bottom: 28px;
        }
      }
      .info {
        &-title {
          @include font($orbitron,$bold,$h2,$h2-lh,$black);
          margin-bottom: 61px;
        }
        &-text {
          @include font($montserrat, $medium, $text, $text-lh, $black);
        }
        &-group-list {
          list-style-type: '-';
          font-size: $text;
          margin-left: 11px;
        }
        &-item {
          margin-bottom: 30px;
          padding-left: 10px;
          color: #ACACAC;
          span {
            @include font($montserrat, $medium, $text, $text-lh, $black);
          }
        }
        &-item:last-child {
          margin-bottom: 0;
        }
        &-item-link {
          @include link;
        }
        &-item-link:hover {
          text-decoration: none;
        }
      }
    }
  }
  main {
    position: relative;
    overflow-x: hidden !important;
    .footer {
      .logo-bg {
        right: -30px;
        bottom: 0;
        position: absolute;
        width: 974px;
        height: 1174px;
        background: url("../img/logo-bg.png") no-repeat;
        background-size: contain;
        @media screen and (max-width: 1659px) {
          width: 100%;
          max-width: 600px;
          max-height: 600px;
          background-size: 100% 100%;
          bottom: 100px;
        }
        @media screen and (max-width: 1500px) {
          max-width: 400px;
          max-height: 400px;
        }
        @media screen and (max-width: 1199px) {

        }
      }
    }
  }
}